@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="login-wrap py-5">
                    <div class="img d-flex align-items-center justify-content-center" style="
                                background-image: url(../..//Root/Images/Logo/z4705695345706_20ca59964f9ad379fcebb44ceaad6cd4-removebg-preview.png);
                                "></div>
                    <h3 class="text-center mb-0">Welcome</h3>
                    <p class="text-center">Enter password</p>
                    <form asp-action="ChangePassword" method="post" class="login-form needs-validation" novalidate>
                        <div class="form-group">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="fa-solid fa-lock"></span>
                            </div>
                            <input name="password" type="password" class="form-control" placeholder="Password"
                                required />
                            <div class="invalid-feedback">
                                Please provide a valid password.
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="fa-solid fa-lock"></span>
                            </div>
                            <input name="rePassword" type="password" class="form-control" placeholder="Confirm Password"
                                required />
                            <div class="invalid-feedback">
                                 Please provide a valid confirm password.
                            </div>
                        </div>

                        <div class="form-group">
                            <button name="btnPassword" value="submit" type="submit"
                                class="btn form-control btn-primary rounded submit px-3">
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        (function () {
            'use strict';
            var password = document.querySelector('input[name="password"]');
            var rePassword = document.querySelector('input[name="rePassword"]');

            form.addEventListener('submit', function (event) {
                if (password.value !== rePassword.value) {
                    event.preventDefault();
                    alert('Passwords do not match.');
                }
            });
            window.addEventListener('load', function () {
                var forms = document.getElementsByClassName('needs-validation');
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
}