@Model User
@{
    ViewData["Title"] = "UserInfo";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


<ul class="notifications"></ul>
<section class="vh-100" style="background-color: #f4f5f7;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-9 mb-4 mb-lg-0">
                <div class="card mb-3" style="border-radius: .5rem;">
                    <div class="row g-0">
                        <div class="col-md-4 gradient-custom text-center text-white"
                            style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                                alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
                            <h5>Trang cá nhân</h5>
                            <p class="fw-bold">Con nghiện</p>
                            <i class="far fa-edit mb-5"></i>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-4">
                                <h4>Thông tin</h4>
                                <hr class="mt-0 mb-4">
                                <div class="row pt-1">
                                    <div class="col-6 mb-3">
                                        <h6>Họ và tên</h6>
                                        <p class="text-muted">
                                            @Model.UserFullname
                                        </p>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>Gmail</h6>
                                        <p class="text-muted">
                                            @ViewBag.Account.AccGmail
                                        </p>
                                    </div>
                                </div>
                                <div class="row pt-1">
                                    <div class="col-6 mb-3">
                                        <h6>Địa chỉ</h6>
                                        <p class="text-muted">
                                            @Model.UserAddress
                                        </p>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>Số điện thoại</h6>
                                        <p class="text-muted">
                                            @Model.UserSdt
                                        </p>
                                    </div>
                                </div>
                                <div class="row pt-1">
                                    <div class="d-flex">
                                        <div class=" mb-3">
                                            <a asp-action="Edit" asp-controller="User"
                                                class="btn btn-logout text-white text-end me-3 border-0"
                                                style="float: right;">Sửa thông tin</a>
                                        </div>
                                        <div class=" mb-3">
                                            <a asp-action="History" asp-controller="Order"
                                                class="btn btn-logout text-white text-end me-3 border-0"
                                                style="float: right;">Lịch sử mua hàng</a>
                                        </div>
                                        <div class=" mb-3">
                                            <a asp-action="VerifyEmailChangePassword" asp-controller="Account"
                                                class="btn btn-logout text-white text-end me-3 border-0"
                                                style="float: right;">Thay đổi mật khẩu</a>
                                        </div>
                                        <div class=" mb-3">
                                            <a asp-action="Logout" asp-controller="Account"
                                                class="btn btn-logout text-white text-end me-3 border-0"
                                                style="float: right;">Log out</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>